*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menu{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu2{
    border-top: 1px solid #EFEFEF;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu > .menu-item{
    padding: 17px 0;
}

.menu2 > .menu-item{
    padding: 30px 0;
}

.item-link{
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.promo-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.callback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    text-transform: uppercase;
}

.callback > a{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.callback > .callcall{ 
    border: 2px solid #F13C6E;
    padding: 11px 60px;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 40px;
}

.callcall:hover{
    background-color: #F13C6E;
    color: #FFFFFF;
}

.chair {
    background-image: url(./img/rectangle.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 192px 0;
    gap: 50px;
}

.chair > h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    margin-left: 12%;
}

.chair > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    margin-left: 12%;
}

.chair > button{
    border: 2px solid #FFFFFF;
    padding: 11px 60px;
    background-color: #F13C6E;
    color: #FFFFFF;
    border-radius: 40px;
    margin-left: 12%;
}

.more:hover{
    background-color: #FFFFFF;
    color: #F13C6E;
}

.grey_bg{
    background-color: #E5E5E5;
    padding: 5%;
}

.special{
    margin-left: 6.5%;
    margin-bottom: 3%;
}

.special > p {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
}

.card_list {
    display: flex;
    justify-items: center;
    gap: 20px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #FFFFFF;
}

.card > img {
    width: 125px;
    height: 166px;
}

.card > p{
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.card > span{
    width: 80px;
    height: 19px; 
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.card > button{
    border: 2px solid #F13C6E;
    padding: 11px 60px;
    background-color: #F13C6E;
    color: #FFFFFF;
    border-radius: 30px;
}

.button_offers:hover{
    border: 2px solid #F13C6E;
    background-color: #FFFFFF;
    color: #F13C6E;
}

.pink-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pinkbox-card {
    background-color: #F13C6E;
    padding: 35px 45px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.pinkbox-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.pinkbox-left > h2 { 
    color: #FFF;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pinkbox-left > p {
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    width: 50%;
}

input[type=text] {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.pinkbox-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.pinkbox-right > h2 { 
    color: #FFF;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pinkbox-right > p {
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    width: 60%;
}

.pink_button {
    border: 2px solid #FFFFFF;
    padding: 11px 60px;
    background-color: #F13C6E;
    color: #FFFFFF;
    border-radius: 30px;
}

.pink_button:hover {
    background-color: #FFFFFF;
    color: #F13C6E;
}

.impuls {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.impuls_list{
    display: flex;
    max-width: 1140px;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    justify-content: center;
}

.impuls_item{
    padding: 35px 67px;
    border: 1px solid #EFEFEF;
}

.categories{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 30px;
}

.pop_cat{
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 6%;
    margin-bottom: 6%;
}

.pop_cat > h2 {
    width: 40%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
}

.cat_item > a{
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    padding-right: 200px;
    color: #828282;
    display: flex;
    /* padding-left: 0%; */
}

.contactus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 38px 0;
    border-top: 1px solid #EFEFEF;
}

.logos{
    display: flex;
    gap: 20px;
}

.tel_call{
    display: flex;
    align-items: center;
    gap: 40px;
}

.tel_call > .tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.tel_call > .cl{
    border: 2px solid #F13C6E;
    padding: 11px 60px;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 40px;
}

.cl:hover{
    background-color: #F13C6E;
    color: #FFFFFF;
}

.end{
    background-color: #EFEFEF;
    padding: 20px 0;   
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.end > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

